@charset "UTF-8";
.line {
  border-bottom: 1px solid #f5f5f5; }

.ellipsis {
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.scrollable {
  overflow: auto;
  height: 400px; }

.title {
  width: 60%;
  font-family: "OpenSansSemiBold";
  font-size: 14px;
  color: #2b2f3e;
  margin: 0;
  line-height: 0.9; }

body {
  font-family: "OpenSansRegular"; }

h1 {
  font-family: "OpenSansLight";
  font-size: 30px;
  line-height: 1;
  color: #565a69; }

.btn {
  border-radius: 4px;
  padding: 7px 15px;
  font-size: 12px;
  cursor: pointer; }

.btn_primary {
  background-color: #27ccc0;
  color: #ffffff;
  font-family: "OpenSansSemiBold";
  border: 1px solid #27ccc0; }
  .btn_primary:disabled {
    opacity: 0.5; }

.btn_delete {
  border: 1px solid #ff3f64;
  background-color: #ffffff;
  color: #ff3f64;
  font-family: "OpenSansLight"; }
  .btn_delete:hover {
    background-color: #ffe3e8; }

.container {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 100%;
  position: fixed; }

.input_group {
  margin-bottom: 10px;
  display: block; }
  .input_group input {
    margin-right: 140px; }
    .input_group input:focus {
      -webkit-box-shadow: 1px 1px 1px 2px rgba(39, 204, 192, 0.5);
      box-shadow: 1px 1px 1px 2px rgba(39, 204, 192, 0.5);
      border-radius: 5px;
      outline: none;
      border-color: #27ccc0; }
  .input_group button {
    float: right; }

.add_name {
  border: 1px solid #cfcfcf;
  /*box-shadow: 0px 1px 2px 2px rgba(224,224,224,.5)*/
  border-radius: 5px;
  padding: 7px;
  font-size: 14px; }
  .add_name::-webkit-input-placeholder {
    color: #cfcfcf; }
  .add_name::-moz-placeholder {
    color: #cfcfcf; }
  .add_name:-ms-input-placeholder {
    color: #cfcfcf; }
  .add_name::placeholder {
    color: #cfcfcf; }

.menu {
  background-color: #2B2F3E;
  position: fixed;
  height: 100%;
  width: 200px; }
  .menu h1 {
    color: #565a69;
    padding-left: 30px; }
  .menu div {
    background-color: #ff3b4f;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.25;
    margin-top: 60px;
    padding: 15px 30px; }

.content {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 15px;
  margin-left: 200px;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%; }

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 10px 0 15px;
  margin: 7px;
  border: 1px solid #ededed;
  -webkit-box-shadow: 1px 1px 2px 1px rgba(15, 15, 15, 0.2);
  box-shadow: 1px 1px 2px 1px rgba(15, 15, 15, 0.2);
  border-radius: 5px;
  -webkit-flex-basis: 45%;
  -ms-flex-preferred-size: 45%;
  flex-basis: 45%;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0.8;
  -ms-flex-negative: 0.8;
  flex-shrink: 0.8; }

.item_col {
  line-height: 1.7;
  padding: 10px 0; }
  .item_col div {
    display: inline-block; }
  .item_col button {
    float: right; }

.badge {
  font-family: "OpenSansBold";
  font-size: 11px;
  background-color: #27ccc0;
  color: #ffffff;
  border-radius: 15px;
  padding: 2px 8px;
  line-height: 1.25; }

.comments_col {
  display: inline-block;
  color: #858585;
  font-size: 11px;
  line-height: 1.25;
  padding: 10px 0; }
  .comments_col textarea {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #cfcfcf;
    font-size: 12px;
    padding: 5px;
    width: 100%;
    font-family: "OpenSansRegular";
    resize: none; }
    .comments_col textarea::-webkit-input-placeholder {
      color: #cfcfcf; }
    .comments_col textarea::-moz-placeholder {
      color: #cfcfcf; }
    .comments_col textarea:-ms-input-placeholder {
      color: #cfcfcf; }
    .comments_col textarea::placeholder {
      color: #cfcfcf; }

.icon {
  border: 1px solid №f8f8f8;
  float: left;
  width: 50px;
  height: 50px; }
  .icon img {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.text {
  margin-left: 55px; }

.clearfix {
  content: "";
  display: block;
  clear: both; }
